{% extends 'base.html.twig' %}

{% block title %}
  Book index
{% endblock %}

{% block body %}
  <h1>Book index</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Image</th>
        <th>Price</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.date ? book.date|date('Y-m-d') : '' }}</td>
          <td>
            <img src="{{ asset('/') ~ book.image }}" width="100" height="100" />
          </td>
          <td>{{ book.price }}</td>
          <td>
            <a href="{{ path('app_book_show', { id: book.id }) }}">show</a>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('app_book_edit', { id: book.id }) }}">edit</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
      {% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('app_book_new') }}">Create new</a>
  {% endif %}
{% endblock %}
