{% extends 'base.html.twig' %}

{% block body %}
	<div class="container text-center col-md-8 mt-3">
		<table class="table table-bordered">
			<tr>
				<th colspan="6" class="text-bg-warning">MOVIE LIST</th>
			</tr>
			<tr>
				<th>Movie Id</th>
				<th>Movie Name</th>
				<th>Movie Image</th>
				<th>Movie Category</th>
				<th>Movie Actor(s)</th>
				<th>Movie Director</th>
			</tr>
			{% for movie in movies %}
				<tr>
					<td>{{ movie.id }}</td>
					<td>{{ movie.name }}</td>
					<td><img src="{{ movie.image }}" width="100" height="100"></td>
					<td>
						<a class="btn btn-info" href="{{ path('category_detail', {'id' : movie.category.id })}}">{{ movie.category.name }}</a>
					</td>
					<td>
						{% for actor in movie.actors %}
							<a class="btn btn-success" href="{{ path('actor_detail', {'id': actor.id })}}">{{ actor.name }}
							</a>
							<br><br>
						{% endfor %}
					</td>
					<td>{{ movie.director.name }}</td>
				</tr>
			</tr>
		{% endfor %}
	</table>
</div>{% endblock %}
