<h1>Tên sản phẩm: {{ product.name }} </h1>
<h1>Số lượng : {{ product.quantity }} </h1>
<h1>Giá tiền: $ {{ product.price }} </h1>
<h1>Phân loại: {{ product.category }} </h1>
<h1>Ngày sản xuất: {{ product.date | date('d-m-Y') }} </h1>